<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <br>
  <%= erb(:textarea, :locals => { :object => "update-message/#{@message.id}",
  :content => @message.text, :value => nil }) %>
  </body>
</html>
