<!DOCTYPE html>
<html lang="en" dir="ltr">
  <center>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1>MessageApp</h1>
  <img src="https://openclipart.org/download/245822/Message-in-the-bottle.svg"
    alt="MessageApp" style="width:250px;height:300px;">
  <br>
  <form action="/update-message/<%= @message.id %>" method="post">
    <textarea name="message" cols="40" rows="5" >
      <%= @message.text %>
    </textarea>
    <br>
    <input type="submit" value="submit">
  </form>
</body>
</center>
</html>
