<!DOCTYPE html>
<html lang="en" dir="ltr">
  <center>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <form action="/new-message" method="post">
    <textarea name="message" cols="40" rows="5" >
      <%= @messages.text %>
    </textarea>
    <br>
    <input type="submit" value="submit">
  </form>
</body>
</center>
</html>
