<!DOCTYPE html>

<html>
<body>
  <h1>MessageApp</h1>
  <form action='/new-message' type='post'>
    <input type='text' name='Message'>
    <input type='submit' value='Send'>
    </form>
</body>
</html>
