<!DOCTYPE html>
<html lang="en" dir="ltr">
  <center>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @messages.text %>
    <br>
    <br>
    <%= @messages.time %>
    <br>
    <br>
<div>
  <input type="button" value="Back to homepage" onclick="history.back(-1)" />
</body>
</center>
</html>
