<!DOCTYPE html>
<html lang="en" dir="ltr">
  <center>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @messages.text %>
    <br>
    <br>
    <%= @messages.time %>
    <br>
    <br>
<div>
  <form action="/edit-message/<%= @messages.id %>" method="get">
    <input type="submit" value="Edit message" />
</form>
    <br>
    <br>
<div>
  <form action="/">
    <input type="submit" value="Back to Homepage" />
</form>
</body>
</center>
</html>
