<!DOCTYPE html>
<html lang="en" dir="ltr">
  <center>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @messages.text %>
    <br>
    <br>
    <%= @messages.time %>
    <br>
    <br>
<div>
  <input type="button" value="Edit Message" onclick="/edit-message/:id" />
    <br>
    <br>
<div>
<a href="/" class="button">Back to Homepage</a>
</body>
</center>
</html>
