<center>
<form action="/<%= object %>" method="post">
<textarea name="message" cols="40" rows="5" required><%= content == nil ?
  nil : content %></textarea>
<br>
  <input type="text" name="tag"><br>
  <input type="submit" value="submit">
</form>
</center>
